@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* global reset */
html, body, body div, span, label, h1, h2, h3, h4, h5, h6, p, a, em, font, img, s, small, strike, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, button, form, fieldset, article, aside, footer, header, nav, section, input, textarea {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    list-style: none;
}
/* font adjusting hack */
html * {
    max-height: 1000000px;
	
}
/* common */
html {
    height: 100%;
}
body {
    font: normal 16px/24px 'roboto', Arial, Helvetica, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container {
    width: 1120px;
    margin: 0 auto;
    padding: 10px;
	
}
h1 {
    font: bold 32px/48px 'roboto';
    color: red;
    margin: 0 0 16px;
    text-transform: uppercase;
	
}



 
 /*вращающий квадрат*/
 di {
	
    border: 2px solid #FFFF05; /* Параметры рамки  и цвет рамки*/
    padding: 5px; /* Поля вокруг текста */
	
    margin-top: 20%;
	  
		width: 200px;
		height: 200px;
		background-color: #ffd700; /*цвет треугольника*/
		animation: nev 10s infinite alternate;
		}
		@keyframes nev {
		0% {
		opacity: 0;
		border-radius: 50%;
		}
		20% {
		opacity: 0.2;
		border-radius: 40%;
		}

		50% {
		opacity: 0.5;
		border-radius: 30%;
		}

		100% {
		opacity: 1;
		border-radius: 0;
		}
		}
  /*/вращающий квадрат*/
  
  
  
  /*/ анимация №2*/
 diz {
	
		border: 3px solid #00FA9A; /* Параметры рамки  и цвет рамки*/
		padding: 10px; /* Поля вокруг текста */
		height: 200px;
		background-color: transparent; /*цвет треугольника*/
		animation: /*nev 30s infinite alternate;*/
		}
		@keyframes nev {
		0% {
		opacity: 0;
		border-radius: 50%;
		}
		20% {
		opacity: 0.2;
		border-radius: 40%;
		}

		50% {
		opacity: 0.5;
		border-radius: 30%;
		}

		100% {
		opacity: 1;
		border-radius: 0;
		}
		}
  /*/ анимация №2*/
  
  

dia {
	
		border: 5px solid #7B68EE; /* Параметры рамки  и цвет рамки*/
		
		height: 20px;
		
		animation: nev 1s infinite alternate;
		}
		@keyframes nev {
		0% {
		opacity: 0;
		border-radius: 50%;
		}
		20% {
		opacity: 0.2;
		border-radius: 40%;
		}

		50% {
		opacity: 0.5;
		border-radius: 30%;
		}

		100% {
		opacity: 1;
		border-radius: 0;
		}
		}
  /*/ анимация №2*/







 .flame {  /*пылающие пламя*/
 
		font-size: 25px;
		padding: 40px 0 30px 40px;
		width: 100%;
		text-align: center; /*выравнивания текста по центру*/
		font-weight:#0024FF;
		/*background: scroll 0% 0% rgb(0, 0, 0);*/
		color: rgb(50, 50, 50);
		text-shadow: -1px 2px rgb(255, 255, 0),
		2px -3px 3px rgb(255, 204, 0),
		2px -5px 6px rgb(255, 153, 0),
		-3px -7px 8px rgb(255, 102, 0),
		1px -15px 30px rgb(255, 51, 0),
		3px -30px 55px rgb(255, 0, 0);
 }
 /*пылающие пламя*/
 
 
 /*Анимированная шапка для сайта*/
 
 .main-header {
/* Задаём относительное позиционирование */
position: relative;
/* Размер шапки сайта */
width: 90%;
margin-top:-52px;
height: 75px;
overflow: hidden;
padding: 20px;
/* Фон шапкм сайта */
background: #0024FF;
/* Подключаем анимацию */
animation: main-hed 10s linear;
}
/* Название сайта */
.main-title{
/* Позиционируем абсолютно, относительно блока main-header */

/* Оформляем шрифт */
text-align: center;
text-transform: uppercase;
/* Подключаем анимацию */
animation: main-titl 10s linear;
}
/**/

/* Анимация фона шапки сайта */
@keyframes main-hed {
0% {
/* Начальный цвет */
background: #0024FF;
}
/* Конечный цвет */
100% {
background: #0024FF;
}
}

/* Анимация названия сайта */
@keyframes main-titl{
0% {
/* Полная прозрачность */
opacity: 0;
/* Масштабируется по вертикали и горизрнтали с нуля */
transform: scale(0);
}
100% {
/* Полная непрозрачность */
opacity: 1;
/* Конечный масштаб 1 х 1 */
transform: scale(1);
}
}

/* Анимация описания сайта */
@keyframes main-descript {
0% {
/* Начало анимации в точке внизу шапки сайта */
transform: translateY(6em);
/* Полная прозрачность */
opacity: 0;
}
/* Возрастание непрозрачности */
50% {
opacity: 0.1;
}
75% {
opacity: 0.3;
}
100% {
/* Завершение анимации в точке позиционирования */
transform: translateY(0);
/* Полная непрозрачность */
opacity: 1;
}
}
 
  /*/Анимированная шапка для сайта*/
 


/* <!--Есть вопросы. Мы перезвоним!--> */

.question {
	margin: 50px 10px 14px 10px;
	position: relative;
	margin-top: 0px;
}

.question h1 {
	text-align: left;
	margin: 4px 0;
	margin-top: -10px;
}

.question_text {
	position: absolute;
	top:-100px;
	left:-1500px;
	font-weight: 300;
	font-size: 245px;
	line-height: -5550px;
	text-transform: uppercase;
	color: rgba(94, 92, 90, 0.03);
	z-index: -1;
	cursor: default;
}

 


.question input {
	width: 480px;
	height: 50px;
	padding: 0 32px 0 32px;
	margin-right: 32px;
    margin-top: 0px;
   
}

.question button {
	width: 546.1px;
	height: 50px;
	background: linear-gradient(102.48deg, #976464 -50.03%, #CFA5A5 50.75%);
	margin-top: 0px;
	
    
}

.question_text_2 {
	font-size: 12px;
	line-height: 17px;
	color: #525252;
	margin-top: 1px;
	margin-left: 470px;
}
/* Мы перезвоним */


<!-- Осенний листопад-->

#leaf-fall {
position:relative;
top:-50px;
width:100%;
text-align: right;
}
#leaf-fall hr {
display: inline-block;
width: 100%;
height: 200px;
background: linear-gradient(to bottom right, #309900, #005600);
transform: skew(20deg);
border-radius: 5% 40% 70%;
box-shadow: inset 0px 0px 1px #222;
border: 1px solid #333;
z-index: 1;
-webkit-animation: falling 5s 0s infinite;
}

#leaf-fall hr:nth-of-type(2n) { -webkit-animation: falling2 5s 0s infinite; }
#leaf-fall hr:nth-of-type(3n) { -webkit-animation: falling3 5s 0s infinite; }
#leaf-fall hr:before {
position: absolute;
content: '';
top: 117px;
right: 9px;
height: 27px;
width: 32px;
transform: rotate(49deg);
border-radius: 0% 15% 15% 0%;
border-top: 1px solid #222;
border-bottom: 1px solid #222;
border-left: 0px solid #222;
border-right: 1px solid #222;
background: linear-gradient(to right, rgba(0,100,0,1), #FF4500);
z-index: 1;
}

#leaf-fall hr:after {
content: '';
height: 125px;
width: 10px;
background: linear-gradient(to right, rgba(255, 69, 0,.30), rgba(0,0,0,.10));
display: block;
transform: rotate(125deg);
position: absolute;
left: 85px;
border-radius:50%;
}

#leaf-fall hr:nth-of-type(n) { height:23px; width:30px; }
#leaf-fall hr:nth-of-type(n):before { width:7px; height:5px; top:17px; right:1px; }
#leaf-fall hr:nth-of-type(n):after { width:2px; height:17px; left: 12px; top:0px; }
#leaf-fall hr:nth-of-type(2n+1) { height:11px; width:16px; }
#leaf-fall hr:nth-of-type(2n+1):before { width:4px; height:3px; top:7px; right:0px; }
#leaf-fall hr:nth-of-type(2n+1):after { width:2px; height:6px; left: 5px; top:1px; }
#leaf-fall hr:nth-of-type(3n+2) { height:17px; width:23px; }
#leaf-fall hr:nth-of-type(3n+2):before { height:4px; width:4px; top:12px; right:1px; }
#leaf-fall hr:nth-of-type(3n+2):after { height:10px; width:2px; top:1px; left:8px; }
#leaf-fall hr:nth-of-type(n) { -webkit-animation-delay: 1.9s;}
#leaf-fall hr:nth-of-type(2n) { -webkit-animation-delay: 3.9s;}
#leaf-fall hr:nth-of-type(3n) { -webkit-animation-delay: 2.3s;}
#leaf-fall hr:nth-of-type(4n) { -webkit-animation-delay: 4.4s;}
#leaf-fall hr:nth-of-type(5n) { -webkit-animation-delay: 5s; }
#leaf-fall hr:nth-of-type(6n) { -webkit-animation-delay: 3.5s;}
#leaf-fall hr:nth-of-type(7n) { -webkit-animation-delay: 2.8s;}
#leaf-fall hr:nth-of-type(8n) { -webkit-animation-delay: 1.5s;}
#leaf-fall hr:nth-of-type(9n) { -webkit-animation-delay: 3.3s;}
#leaf-fall hr:nth-of-type(10n) { -webkit-animation-delay: 2.5s;}
#leaf-fall hr:nth-of-type(11n) { -webkit-animation-delay: 1.2s;}
#leaf-fall hr:nth-of-type(12n) { -webkit-animation-delay: 4.1s;}
#leaf-fall hr:nth-of-type(13n) { -webkit-animation-delay: 1s; }
#leaf-fall hr:nth-of-type(14n) { -webkit-animation-delay: 4.7s;}
#leaf-fall hr:nth-of-type(15n) { -webkit-animation-delay: 3s; }
#leaf-fall hr:nth-of-type(n) { background: linear-gradient(to bottom right, rgba(255,140,0,.95), rgba(0,100,0,.5)); }
#leaf-fall hr:nth-of-type(2n+2) { background: linear-gradient(to bottom right, rgba(255,140,0), rgba(0,100,0)); }
#leaf-fall hr:nth-of-type(4n+1) { background: linear-gradient(to bottom right, rgba(255,140,0), #564500); }
#leaf-fall hr:nth-of-type(n) { opacity: .7;}
#leaf-fall hr:nth-of-type(3n+1) { opacity: .5;}
#leaf-fall hr:nth-of-type(3n+2) { opacity: .3;}
#leaf-fall hr:nth-of-type(n) { transform: rotate(180deg);}
#leaf-fall hr:nth-of-type(n) { -webkit-animation-timing-function:ease-in-out;}

@-webkit-keyframes falling {
0% {
-webkit-transform:
translate3d(300,0,0) rotate(0deg);
}
90% {
-webkit-transform:
translate3d(-350px,700px,0) rotate(90deg);
opacity: 1;
}
100% {
-webkit-transform:
translate3d(-350px,700px,0) rotate(90deg);
opacity: 0;
}
}
@-webkit-keyframes falling3 {
0% {
-webkit-transform:
translate3d(0,0,0) rotate(-20deg);
}
70% {
-webkit-transform:
translate3d(-230px,640px,0) rotate(-70deg);
opacity: 0.4;
}
90% {
-webkit-transform:
translate3d(-230px,640px,0) rotate(-70deg);
opacity: 0.1;
}
100% {
-webkit-transform:
translate3d(-230px,640px,0) rotate(-70deg);
opacity: 0;
}
}
@-webkit-keyframes falling2 {
0% {
-webkit-transform:
translate3d(0,0,0) rotate(90deg);
}
90% {
-webkit-transform:
translate3d(-400px,680px,0) rotate(0deg);
opacity: 1;
}
100% {
-webkit-transform:
translate3d(-400px,680px,0) rotate(0deg);
opacity: 0;
}
}
<!--/Осенний листопад-->



a1{
	text-align: center;
	font-size:30px;
	letter-spacing: 4px;
	color:#5FFF28;
	text-shadow: -1px -1px #FF4157,
	-2px -2px #EE8A08,
	-1px 1px #EE8A08,
	-2px 2px #EE8A08,
	1px 1px #EE8A08,
	2px 2px #EE8A08,
	1px -1px #EE8A08,
	2px -2px #EE8A08,
	}

.screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
}

/* три поля */

.advantages h1 {
	margin: 64px 0 64px;
	text-align: center;

}

.advantages_flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 64px;
}

.advantages_block {
	width: 464px;
	height: 111px;
	clear: both;
}

.advantages_block h3 {
	font-weight: 500;
	font-size: 24px;
	line-height: 37px;
	text-transform: uppercase;
	color: #424242;
}

.advantages_block p {
	line-height: 22px;
	color: #424242;
	margin-top: 1px;
	margin-left: 40px;
}

.advantages_1::before {
	content: url('../images/1.jpg');
	margin-left: 40px; /*поле-левое*/
	float: left;

}
.advantages_2::before {
	content: url('../images/_3.jpg');
	float: left;
	margin-left: 44px;
}
.advantages_3::before {
	content: url('../images/3.jpg');
	float: left;
	margin-left: 44px;
}

/*три поля */


					/*/Всплывающая карта*/
.meny{
			background: #006400;
			padding: 5px;
			border-radius: 0px;
			box-shadow: 0px 0px 0px 2px #006400;
			width: auto;  /*100% не проходит*/
			height: 450px;
			}
			.html, .css, .php, .js{
			float: left;
			margin: 3px 3px 3px 3px;
			width: 260px;
			}
			ul {
			width: 260px; 
			list-style: none;
			padding: 0;
			margin: 0 0 0 0;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 22px;
			text-align: center;
			}
			li ul {
			position: absolute;
			display: none;
			margin-left: 0px;
			margin-top: 0px;
			}
			li a {
			display: block;
			padding: 20px;
			text-decoration: none;
			color: #006400;
			border-radius: 20px;
			box-shadow: 0px 0px 0px 2px #0ea8f4;     
			background: #7df9ff;    
			background: -moz-radial-gradient(center, ellipse cover, #7df9ff 50%, #FBFFFF);     
			background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(50%,#7df9ff), color-stop(100%,#FBFFFF));
			background: -webkit-radial-gradient(center, ellipse cover, #7df9ff 50%, #FBFFFF);
			background: -o-radial-gradient(center, ellipse cover, #7df9ff 50%, #FBFFFF);
			background: -ms-radial-gradient(center, ellipse cover, #7df9ff 50%, #FBFFFF);
			}
			li a:hover {         
			color: #ffe;     
			box-shadow: 0px 0px 5px 2px #0ea8f4; 
			background: #009494;     
			background: -moz-radial-gradient(center, ellipse cover, #009494, #FBFFFF);        
			background: -webkit-gradient(radial, center center, 0px, center center, 100%,    color-stop(0%,#009494), color-stop(100%,#FBFFFF));
			background: -webkit-radial-gradient(center, ellipse cover, #009494, #FBFFFF);
			background: -o-radial-gradient(center, ellipse cover, #009494, #FBFFFF);
			background: -ms-radial-gradient(center, ellipse cover, #009494, #FBFFFF);
			}
			li a:active{        
			color: #ef7a04;
			box-shadow: 0px 0px 15px 5px #0ea8f4;
			}
			li:hover ul {         
			display: block;     
			}
         /*/Всплывающая карта*/

/* icons */
.icon::before {
    font-family: 'icomoon';
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: white;
    text-align: center;
}
.icon:hover::before {
    color: yellow;
}
.logo::before {
    content: '\e900';
}
.login::before {
    content: '\e902';
}
.order::before {
    content: '\e901';
}
.cat::before {
    content: '\e903';
}
.to_left::before {
    content: '\e905';
}
.to_right::before {
    content: '\e904';
}

/* header */
header {
    flex: none;
    background: #0000FF;
    color: white;
}
.searschform {
    background: white;
    border-radius: 8px;
    height: 24px;
    padding: 6px;
    flex: 1 1 auto;
}
.mainhead .container {
    display: flex;
    gap: 16px;
}
.mainhead a {
    height: 24px;
    width: 24px;
    padding: 4px;
    border: 2px solid white;
    border-radius: 8px;
    text-align: center;
    flex: none;
    position: relative;
    text-decoration: none;
}
header nav {
    display: flex;
    gap: 16px;
}
header nav a {
    height: 24px;
    border: 2px solid white;
    border-radius: 8px;
    flex: none;
    text-decoration: none;
    padding: 4px 8px;
    color: white;
}
header a.active,
header a:hover {
    color: yellow;
    border-color: yellow;
    background: pink;
}
header .icon::before {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
}


/* Works */
.works {
    display: flex;
}


.works__item {
    position: relative;

    background: linear-gradient(to bottom, #f38181, #fce38a);
}

.works__item:hover .works__image {
    opacity: .1;
}

.works__item:hover .works__info {
    opacity: 1;
}

.works__image {
    display: block;
    max-width: 100%;
    height: auto;
}


/* footer */


footer {
    flex: none;
    background: #006400; /*цвет подвала*/
    color: white;
	
}
footer section {
    padding: 16px 0;   
}
.footermenu {
    display: flex;
    justify-content: space-between;
	
}


/* Телеграм */
.Telegram__item {
    display: flex;
    margin-bottom: 0px; /*поле с низу*/
	margin-left: 120px; /*отступ от левого края*/
}

.Telegram__img {  /*ширина и высота фотки*/
    width: 500px;
    height: 500px;
   }
   

.Telegram__content { /*отступ с лева текст*/
    
	margin-top: 480px; /* Отступ сверху */
	text-align: justify
}

.Telegram__title {  /*текст в блоге*/
    margin-bottom: 15px;
   font-size: 35px;
    line-height: 1.5;
    text-transform: uppercase;
    text-decoration: none;
	margin: 0;
    margin-left: -800px; /* Отступ слева */
	text-decoration: blink;
	}
	
.Telegram__title:hover {
    text-decoration: underline;
	
}
 

/* Блоги*/
.blogs__item {
    display: flex;
    margin-bottom: 0px; /*поле с низу*/
	margin-left: 120px; /*отступ от левого края*/
}

.blogs__img {  /*ширина и высота фотки*/
    width: 500px;
    height: 500px;
   }
   

.blogs__content { /*отступ с лева текст*/
    
	margin-top: 480px; /* Отступ сверху */
	text-align: justify
}

.blogs__title {  /*текст в блоге*/
    margin-bottom: 15px;
   font-size: 35px;
    line-height: 1.5;
    text-transform: uppercase;
    text-decoration: none;
	margin: 0;
    margin-left: -800px; /* Отступ слева */
	text-decoration: blink;
	}
	
.blogs__title:hover {
    text-decoration: underline;
	
}
 /*/Блоги */



/* Всплывающая Карта*/

.map {
    text-align: center;
	
}

.map__title {
    font-size: 24px;
    color: #4B0AFF; /*Цвет кнопки карта*/
    font-weight: 700;
    text-transform: uppercase;
}



.map__title:after {
    content: "";
    display: block;
   /* width: 450px; /*ширина черточки */
   /* height: 3px; /*толщина линии*/
    margin: 15px auto 0;

    background-color: #FFFB14; /*цвет черточки*/
} 

.map__title a {
    color: inherit;
    text-decoration: none;
}

.map__title a:hover {
    text-decoration: underline;
}
/*/ Всплывающая Карта*/



/*анимационые стрелки*/
.arrow-9 {
  width:60px;
  height:30px;
  display: flex;
  margin: 20px auto;
  background: 
    linear-gradient(currentColor 0 0) center/calc(100% - 30px) 10px,
    conic-gradient(from -136deg at right,#0000 ,currentColor 1deg 90deg,#0000 91deg) right/15px 100%,
    conic-gradient(from   44deg at left ,#0000 ,currentColor 1deg 90deg,#0000 91deg) left /15px 100%;
  background-repeat: no-repeat;
  animation: a9 .8s infinite linear alternate;
}

@keyframes a9 {
  0%   {transform: translate(-100px)}
  100% {transform: translate( 100px)}
}


.arrow-10 {
  width:60px;
  height:30px;
  display: flex;
  margin: 20px  590px;
  background: 
    linear-gradient(currentColor 0 0) center/calc(100% - 30px) 10px,
    conic-gradient(from -136deg at right,#0000 ,currentColor 1deg 90deg,#0000 91deg) right/15px 100%,
    conic-gradient(from   44deg at left ,#0000 ,currentColor 1deg 90deg,#0000 91deg) left /15px 100%;
  background-repeat: no-repeat;
  animation: a10 .8s infinite linear alternate;
}

@keyframes a10 {
  0%   {transform: translate(-100px)}
  100% {transform: translate( 100px)}
}
/*анимационые стрелки*/


/* Subscribe Подписатся*/

.subscribe {
    width: 480px;
    max-width: 480px; /*ширина почты*/
    display: flex;
	 /*отступ от левого края*/

}

.subscribe__input {
    width: 100%;
    height: 40px;
    padding: 19px;

    background: #fff;
    border: 1px solid #e7e7e7;
    border-right: 0;

   
}

.subscribe__input::placeholder {
    color: #ccc;
}

.subscribe__input:focus {
    outline: 0;
    border-color: #95e1d3;
}

.subscribe__btn {
    width: 50%;
    height: 66px; /*ширина кнопки подписатся*/
    padding: 15px 36px;

    background-color: #4B0AFF; /*цвет кнопки подписатся*/
    border: 0;
    cursor: pointer;

    
    font-size: 14px;
    line-height: 1.1;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;

    transition: background .2s linear;
}

.subscribe__btn:hover {
    background-color: #74c7b8;
}

.subscribe__btn:focus {
    outline: 0;
}


/* main */
main {
    flex: 1 1 auto;
}

/* actions */
.actionband {
    /*background: #f93; фон банера*/
   /* color: #fff; цвет шрифта на банере*/
    text-transform: uppercase;
	background-color: #00FF00; /* Цвет фона */
    padding: 4px; 
}
.actionband .container {  /*контейнер подвала*/
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.discount,
.retaimer,
.sept,
.num {
    font-weight: bold;
    font-size: 40px;
    line-height: 1; /*высота линии*/
	
}
.toptext,
.subnum {
    font-size: 12px;
}
.retaimer {
    border-left: 1px solid #fff;
    padding: 24px 0 0 24px;
    margin-left: 24px;
    position: relative;
    text-align: center;
	
}
.toptext {
    position: absolute;
    top: 0;
    left: 24px;
    right: 0;
}
.sept,
.num {
    display: inline-block;
    vertical-align: top;
}
.sept {
    padding: 12px 0;
}
.num {
    padding-bottom: 24px;
    position: relative;
    min-width: 50px;
}
.subnum {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


/* slider */
.slider .container,
.slider_desk,
.slider_block {  /* слайдер ширина и высота*/
    width: 1000px;
    height: 530px;
}
.slider .container {
    padding: 16px 64px;
    position: relative;
}
.slider_desk {
    overflow: hidden;
    position: relative;
    background: #fff;
}
.slider_block {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1; /*слайдер задержка*/
}
.slider_block.active {
    z-index: 1; /*слайдер задержка*/
}
.slider button {
    position: absolute;
    height: 32px;
    width: 32px;
    border-radius: 8px;
    text-align: center;
    top: 190px; /*стрелочки на банере вверх и низ*/
    z-index: 1;
    cursor: pointer;
    font-size: 32px;
    line-height: 32px;
}
.slider .to_left {
    left: 16px;
}
.slider .to_right {
    right: 16px;
}
.slider button::before,
.slider button::after {
    color: gray;
}
.slider_points {
    position: absolute;
    z-index: 1;
    width: 417px; /*кружочки под слайдером*/
    height: 24px;
    display: flex;
    justify-content: center;
    gap: 16px;
    top: 530px; /*ширина rhe;rjd*/
    left: 364px;
}
.slider_points span {
	flex: none;
    border-radius: 50%;
	border: 1px solid #0DFF00;;
	height: 22px;
	width: 22px;
	cursor: pointer;
}
.slider_points span:hover {
	border-color: yellow;
}
.slider_points span.active {
    background: #0DFF00;
}
.slider_points span.active:hover {
	background: yellow;
}



/* catalog */
.catalog .container {
    overflow: hidden;
    padding: 0;
}
.catalog aside,
.product aside {
    float: left;
    width: 288px;
    padding: 16px;
}
.catalog article,
.product article {
    margin-left: 320px;
    padding: 16px;
}
.product article {
    display: grid;
    gap: 16px;
    grid-template-columns: 450px 1fr;
}
.product article h1,
.product article .descriptions {
    grid-column-start: 1;
    grid-column-end: 3;
}
.price {
    font: bold 32px/48px 'roboto';
    color: red;
}
.item-desk {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
}
.item {
    width: 180px;
    cursor: pointer;
}
.item:hover {
    box-shadow: 1px 1px 15px rgba(0,0,0,0.3);
}
.buy,
.item button {
    background: #0DFF00;  /*цвет кнопки корзина*/
    color: white;
    font-size: 32px;
    line-height: 48px;
    padding: 12px 28px;
    display: block;
    width: 100%;
    border-radius: 16px;
    margin: 16px 0 0;
    border: 4px solid white;
    cursor: pointer;
}
.buy:hover,
.item button:hover {
    color: yellow;
}

/* catmenu */
.opener {
    font-size: 32px;
    line-height: 48px;
    padding: 16px 16px 16px 80px;
    background: #ff2780;
    color: white;
    cursor: pointer;
    border-radius: 16px;
    margin-bottom: 16px;
    position: relative;
}
.opener::before,
.opener::after {
    position: absolute;
    left: 16px;
    width: 48px;
    height: 48px;
    content: '';
}
.opener::before {
    top: 16px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    height: 21px;
    transform-origin: left top;
    transition: border-bottom-width 1.4s step-end, transform 1.5s ease, width 1.5s ease;
}
.opener::after {
    top: 41px;
    border-bottom: 2px solid white;
    height: 21px;
    transform-origin: left bottom;
    transition: transform 1.5s ease, width 1.5s ease;
}
.opener:hover,
.opener:hover::before,
.opener:hover::after,
.opener:hover span::before {
    color: yellow;
    border-color: yellow;
}
.open .opener::before,
.open .opener::after {
    width: 66px;
}
.open .opener::before {
    border-bottom-width: 0;
    transform: rotate(45deg);
    transition: border-bottom-width 1.4s step-start, transform 1.5s ease, width 1.5s ease;
}
.open .opener::after {
    transform: rotate(-45deg);
}
.accordeon {
    display: none;
}
.open .accordeon {
    display: block;
}
.accordeon .sub {
    padding-right: 24px;
    position: relative;
}
.accordeon .sub::after {
    position: absolute;
    width: 24px;
    right: 0;
    top: 0;
    text-align: center;
    content: '\2b9a';
    transition: transform .5s ease;
    cursor: pointer;
}
.accordeon .sub.open::after {
    transform: rotate(90deg);
    transform-origin: center;
}
.accordeon .sub > a {
    text-transform: uppercase;
    text-decoration: none;
}
.accordeon .sub > a:hover {
    text-decoration: underline;
}
.accordeon .sub > ul {
    display: none;
    transition: all .5s step-start;
}
.accordeon .sub.open > ul {
    display: block;
    transition: all .5s step-end;
}

/* gallery */
.bigimage {
    line-height: 0;
    margin-bottom: 16px;
}
.bigimage img {
    cursor: pointer;
}
.mini {
    width: 410px;
    padding: 0 20px;
    position: relative;
}
.mini > div {
    height: 50px;
    overflow: hidden;
    position: relative;
}
.mini > span {
    position: absolute;
    top: 0;
    font-size: 48px;
    line-height: 50px;
    color: gray;
    cursor: pointer;
}
.mini > span:hover {
    color: red;
}
.mini > span.disabled {
    color: lightgray;
}
.gal_left {
    left: 0;
}
.gal_right {
    right: 0;
}
.rail {
    height: 50px;
    position: absolute;
    left: 0;
    display: flex;
    gap: 10px;
}
.rail img {
    cursor: pointer;
}

/* lightbox Всплывающие окно колендарь Корзина */
.lightbox {
    position: fixed;
    left: 50%;
    top: 50%;
    padding: 16px;
    border-radius: 16px;
    background: white;
    opacity: 0;
}
.lightbox button {
    position: absolute;
    top: 32px;
    right: 32px;
    color: white;
    font-size: 64px;
    line-height: 37px;
    cursor: pointer;
}
.lightbox button:hover {
    color: yellow;
}

.lightbox,
.calendarbox,
.alertbox {
    position: fixed;
    left: 50%;
    top: 50%;
    padding: 16px;
    border-radius: 16px;
    background: white;
    opacity: 0;
}
.alertbox {
    width: 360px;
    height: 60px;
    margin: -46px auto auto -196px;
}
.calendarbox {
    width: 398px;
    margin: -215px auto auto -215px;
}
.lightbox button,
.calendarbox button,
.alertbox button {
    position: absolute;
    top: 32px;
    right: 32px;
    color: white;
    font-size: 64px;
    line-height: 37px;
    cursor: pointer;
}
.lightbox button:hover,
.calendarbox button:hover,
.alertbox button:hover {
    color: yellow;
}
.calendarbox span {
    flex: none;
    height: 48px;
    width: 48px;
    display: block;
    line-height: 48px;
    text-align: center;
    border: 1px solid gray;
    color: gray;
}
.calendarbox strong {
    flex: auto;
    line-height: 48px;
    text-align: center;
    color: gray;
}
.calendarbox .dp_header {
    display: flex;
    height: 48px;
    width: 398px;
    gap: 8px;
    margin-bottom: 8px;
}
.calendarbox .dp_grid {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(7, 50px);
}
.calendarbox .holiday {
    color: red;
    border-color: red;
}
.calendarbox .headday {
    border-color: transparent;
    font-weight: bold;
}
.calendarbox .empty {
    border-color: transparent;
}

/* order */ /*карзина*/
table div {
    font-size: 24px;
    line-height: 48px;
}
.tr {
    display: grid;
    grid-template-columns: 5% 30% 20% 20% 20% 5%;
}
.tr.top {
    font-weight: bold;
    border-bottom: 1px solid black;
}
.tr.bottom {
    font-weight: bold;
    border-top: 1px solid black;
}
.table .price {
    font-weight: normal;
    color: black;
}
.table .top .price {
    font-weight: bold;
}
.table .price::after,
.table .summa::after,
.table .itog::after {
	content: '\0020\20BD';
}
.bottom .text {
    grid-column-start: 3;
    grid-column-end: 4;
}
.bottom .itog {
    grid-column-start: 5;
    grid-column-end: 6;
}
.table button {
    font-size: 24px;
    line-height: 48px;
    width: 48px;
    cursor: pointer;
    flex: none;
}
.table button:active {
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.4);
    border-radius: 16px;
}
.quantity {
    display: flex;
    padding-right: 48px;
    gap: 16px;
}
.quantity span {
    flex: auto;
    text-align: center;
}
.currency {
    margin-top: 16px;
}
fieldset {
    margin: 16px 0;
    border: 2px solid red;
    padding: 16px;
}
legend {
    font-weight: bold;
    color: red;
}
input {
    display: block;
    margin-top: 16px;
    border: 1px solid gray;
    padding: 16px;
    color: gray;
    height: 30px;
    width: 250px;
}
textarea {
    display: block;
    margin-top: 16px;
    border: 1px solid gray;
    padding: 16px;
    color: gray;
    height: 60px;
    width: 250px;
}
legend + input {
    margin: 0;
}
.sendform {
    display: block;
    width: 200px;
    padding: 16px;
    background: red;
    color: white;
    cursor: pointer;
}


